## Call Centre Data Cleaning.

#### Importing Python libraries for data analysis.

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#### Importing Call Centre data into Jupyter Notebook.

In [5]:
calls = pd.read_excel("Call Centre Data.xlsx")

#### Reading Call Centre dataset.

In [7]:
calls

,Id,Call Timestamp,Call-Centres City,Channel,City,Customer Name,Reason,Response Time,Sentiment,State,Call Duration In Minutes,Csat Score
0,DKK-57076809-w-055481-fU,29-10-2020,Los Angeles,Call-Center,Detroit,Analise Gairdner,Billing Question,Within SLA,Neutral,Michigan,17,7.0
1,QGK-72219678-w-102139-KY,05-10-2020,Baltimore,Chatbot,Spartanburg,Crichton Kidsley,Service Outage,Within SLA,Very Positive,South Carolina,23,NaN
2,GYJ-30025932-A-023015-LD,04-10-2020,Los Angeles,Call-Center,Gainesville,Averill Brundrett,Billing Question,Above SLA,Negative,Florida,45,NaN
3,ZJI-96807559-i-620008-m7,17-10-2020,Los Angeles,Chatbot,Portland,Noreen Lafflina,Billing Question,Within SLA,Very Negative,Oregon,12,1.0
4,DDU-69451719-O-176482-Fm,17-10-2020,Los Angeles,Call-Center,Fort Wayne,Toma Van der Beken,Payments,Within SLA,Very Positive,Indiana,23,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
32936,IBZ-31554817-e-308536-ce,03-10-2020,Los Angeles,Web,Amarillo,Jimmy Lewer,Service Outage,Within SLA,Very Positive,Texas,39,10.0
32937,ZGB-67012647-l-746192-D4,11-10-2020,Los Angeles,Web,Alexandria,Amanda Sijmons,Service Outage,Within SLA,Very Positive,Virginia,26,10.0
32938,UGZ-65514208-Y-431082-Vt,14-10-2020,Los Angeles,Web,Boise,Prudy Sheppard,Service Outage,Within SLA,Very Positive,Idaho,8,10.0
32939,KFH-61834342-f-122443-Md,15-10-2020,Los Angeles,Web,Buffalo,Gloriana Haythorne,Service Outage,Within SLA,Very Positive,New York,25,10.0
32940,IPC-37839857-x-696231-wz,20-10-2020,Los Angeles,Web,Los Angeles,Kile Sumption,Service Outage,Within SLA,Very Positive,California,22,10.0

#### Getting information on the Call Centre data.

In [9]:
calls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32941 entries, 0 to 32940
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        32941 non-null  object
 1   Call Timestamp            32941 non-null  object
 2   Call-Centres City         32941 non-null  object
 3   Channel                   32941 non-null  object
 4   City                      32941 non-null  object
 5   Customer Name             32941 non-null  object
 6   Reason                    32941 non-null  object
 7   Response Time             32941 non-null  object
 8   Sentiment                 32941 non-null  object
 9   State                     32941 non-null  object
 10  Call Duration In Minutes  32941 non-null  int64
 11  Csat Score                12271 non-null  float64
dtypes: float64(1), int64(1), object(10)
memory usage: 3.0+ MB

### 1. Removal of duplicated rows.

In [11]:
calls.duplicated().any()

False

In [12]:
calls[calls["Id"].duplicated() == 1]

Empty DataFrame
Columns: [Id, Call Timestamp, Call-Centres City, Channel, City, Customer Name, Reason, Response Time, Sentiment, State, Call Duration In Minutes, Csat Score]
Index: []

### 2. Data formatting & standardisation.

In [14]:
calls["Id"]

0        DKK-57076809-w-055481-fU
1        QGK-72219678-w-102139-KY
2        GYJ-30025932-A-023015-LD
3        ZJI-96807559-i-620008-m7
4        DDU-69451719-O-176482-Fm
                   ...
32936    IBZ-31554817-e-308536-ce
32937    ZGB-67012647-l-746192-D4
32938    UGZ-65514208-Y-431082-Vt
32939    KFH-61834342-f-122443-Md
32940    IPC-37839857-x-696231-wz
Name: Id, Length: 32941, dtype: object

In [15]:
calls["Id"] = calls["Id"].str.upper()

In [16]:
calls = calls.rename(columns = {"Id" : "Call Id"})

In [17]:
calls["Call Id"]

0        DKK-57076809-W-055481-FU
1        QGK-72219678-W-102139-KY
2        GYJ-30025932-A-023015-LD
3        ZJI-96807559-I-620008-M7
4        DDU-69451719-O-176482-FM
                   ...
32936    IBZ-31554817-E-308536-CE
32937    ZGB-67012647-L-746192-D4
32938    UGZ-65514208-Y-431082-VT
32939    KFH-61834342-F-122443-MD
32940    IPC-37839857-X-696231-WZ
Name: Call Id, Length: 32941, dtype: object

In [18]:
calls["Call Timestamp"].sort_values().unique()

array(['01-10-2020', '02-10-2020', '03-10-2020', '04-10-2020',
       '05-10-2020', '06-10-2020', '07-10-2020', '08-10-2020',
       '09-10-2020', '10-10-2020', '11-10-2020', '12-10-2020',
       '13-10-2020', '14-10-2020', '15-10-2020', '16-10-2020',
       '17-10-2020', '18-10-2020', '19-10-2020', '20-10-2020',
       '21-10-2020', '22-10-2020', '23-10-2020', '24-10-2020',
       '25-10-2020', '26-10-2020', '27-10-2020', '28-10-2020',
       '29-10-2020', '30-10-2020', '31-10-2020'], dtype=object)

In [19]:
calls["Call Timestamp"] = pd.to_datetime(calls["Call Timestamp"], format= "%d-%m-%Y")

In [20]:
calls = calls.rename(columns = {"Call Timestamp" : "Call Date"})

In [21]:
calls["Call Date"].sort_values().unique()

<DatetimeArray>
['2020-10-01 00:00:00', '2020-10-02 00:00:00', '2020-10-03 00:00:00',
 '2020-10-04 00:00:00', '2020-10-05 00:00:00', '2020-10-06 00:00:00',
 '2020-10-07 00:00:00', '2020-10-08 00:00:00', '2020-10-09 00:00:00',
 '2020-10-10 00:00:00', '2020-10-11 00:00:00', '2020-10-12 00:00:00',
 '2020-10-13 00:00:00', '2020-10-14 00:00:00', '2020-10-15 00:00:00',
 '2020-10-16 00:00:00', '2020-10-17 00:00:00', '2020-10-18 00:00:00',
 '2020-10-19 00:00:00', '2020-10-20 00:00:00', '2020-10-21 00:00:00',
 '2020-10-22 00:00:00', '2020-10-23 00:00:00', '2020-10-24 00:00:00',
 '2020-10-25 00:00:00', '2020-10-26 00:00:00', '2020-10-27 00:00:00',
 '2020-10-28 00:00:00', '2020-10-29 00:00:00', '2020-10-30 00:00:00',
 '2020-10-31 00:00:00']
Length: 31, dtype: datetime64[ns]

In [22]:
calls["Call-Centres City"].unique()

array(['Los Angeles', 'Baltimore', 'Denver', 'Chicago'], dtype=object)

In [23]:
calls = calls.rename(columns = {"Call-Centres City" : "Call Centre City"})

In [24]:
calls["Channel"].unique()

array(['Call-Center', 'Chatbot', 'Email', 'Web'], dtype=object)

In [25]:
calls["Channel"] = calls["Channel"].str.replace("Call-Center", "Call Centre")

In [26]:
calls["Reason"].unique()

array(['Billing Question', 'Service Outage', 'Payments'], dtype=object)

In [27]:
calls["Response Time"].unique()

array(['Within SLA', 'Above SLA', 'Below SLA'], dtype=object)

In [28]:
calls["Sentiment"].unique()

array(['Neutral', 'Very Positive', 'Negative', 'Very Negative',
       'Positive'], dtype=object)

In [29]:
calls["State"].sort_values().unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

In [30]:
calls["Call Duration In Minutes"].sort_values().unique()

array([ 5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21,
       22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38,
       39, 40, 41, 42, 43, 44, 45], dtype=int64)

In [31]:
calls = calls.rename(columns = {"Call Duration In Minutes" : "Call Duration (Mins)"})

In [32]:
calls["Csat Score"].sort_values().unique()

array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., nan])

In [33]:
calls = calls.rename(columns = {"Csat Score" : "CSAT Score"})

### 3. Imputation of blank/null values.

In [35]:
calls.isnull().sum()

Call Id                     0
Call Date                   0
Call Centre City            0
Channel                     0
City                        0
Customer Name               0
Reason                      0
Response Time               0
Sentiment                   0
State                       0
Call Duration (Mins)        0
CSAT Score              20670
dtype: int64

In [36]:
#Using mean substitution method to impute blank

In [37]:
calls[["CSAT Score", "Sentiment"]].sort_values(by = ["CSAT Score","Sentiment"], ascending=[True, True]).drop_duplicates()

     CSAT Score      Sentiment
3           1.0  Very Negative
22          2.0  Very Negative
199         3.0       Negative
52          3.0  Very Negative
15          4.0       Negative
124         4.0  Very Negative
21          5.0       Negative
5           5.0        Neutral
29          6.0       Negative
78          6.0        Neutral
0           7.0        Neutral
13          7.0       Positive
6           8.0        Neutral
54          8.0       Positive
47          9.0       Positive
39          9.0  Very Positive
65         10.0  Very Positive
2           NaN       Negative
9           NaN        Neutral
7           NaN       Positive
8           NaN  Very Negative
1           NaN  Very Positive

### 4. Removal of unnecessary columns.

In [39]:
#Kept all columns, no unnecessary columns.

### 5. Filtration & aggregation of dataframe.

In [41]:
calls = calls[(~calls["State"].isin(["Alaska", "Hawaii"])) & (calls["Call Date"] != "2020-10-31")]

## Call Centre Data Analysis.

#### 1. Total calls

In [44]:
calls["Call Id"].count()

32645

#### 2. Total Call Duration (Mins)

In [46]:
calls["Call Duration (Mins)"].sum()

816873

#### 3. Average Call Duration (Mins)

In [48]:
calls["Call Duration (Mins)"].mean().round(2)

25.02

#### 4. Average CSAT Score

In [50]:
calls["CSAT Score"].mean().round(2)

5.55

#### 5. Total calls by Call Date.

In [52]:
calls.groupby("Call Date")["Call Id"].count()

Call Date
2020-10-01    1075
2020-10-02    1077
2020-10-03    1075
2020-10-04    1038
2020-10-05    1081
2020-10-06    1140
2020-10-07    1038
2020-10-08    1057
2020-10-09    1115
2020-10-10    1084
2020-10-11    1073
2020-10-12    1078
2020-10-13    1107
2020-10-14    1078
2020-10-15    1093
2020-10-16    1124
2020-10-17    1114
2020-10-18    1085
2020-10-19    1093
2020-10-20    1071
2020-10-21    1160
2020-10-22    1157
2020-10-23    1103
2020-10-24    1089
2020-10-25    1058
2020-10-26    1037
2020-10-27    1051
2020-10-28    1136
2020-10-29    1046
2020-10-30    1112
Name: Call Id, dtype: int64

#### 6. Total Call Duration (Mins) by Call Date.

In [54]:
calls.groupby("Call Date")["Call Duration (Mins)"].sum()

Call Date
2020-10-01    26738
2020-10-02    26531
2020-10-03    27094
2020-10-04    25854
2020-10-05    27588
2020-10-06    28922
2020-10-07    25817
2020-10-08    26851
2020-10-09    28337
2020-10-10    27798
2020-10-11    26153
2020-10-12    27000
2020-10-13    27293
2020-10-14    27212
2020-10-15    27344
2020-10-16    28326
2020-10-17    27883
2020-10-18    26781
2020-10-19    27268
2020-10-20    26676
2020-10-21    28734
2020-10-22    29104
2020-10-23    27355
2020-10-24    27237
2020-10-25    26336
2020-10-26    25858
2020-10-27    26752
2020-10-28    29053
2020-10-29    26030
2020-10-30    26948
Name: Call Duration (Mins), dtype: int64

#### 7. Average Call Duration (Mins) by Call Date.

In [56]:
calls.groupby("Call Date")["Call Duration (Mins)"].mean().round(2)

Call Date
2020-10-01    24.87
2020-10-02    24.63
2020-10-03    25.20
2020-10-04    24.91
2020-10-05    25.52
2020-10-06    25.37
2020-10-07    24.87
2020-10-08    25.40
2020-10-09    25.41
2020-10-10    25.64
2020-10-11    24.37
2020-10-12    25.05
2020-10-13    24.65
2020-10-14    25.24
2020-10-15    25.02
2020-10-16    25.20
2020-10-17    25.03
2020-10-18    24.68
2020-10-19    24.95
2020-10-20    24.91
2020-10-21    24.77
2020-10-22    25.15
2020-10-23    24.80
2020-10-24    25.01
2020-10-25    24.89
2020-10-26    24.94
2020-10-27    25.45
2020-10-28    25.57
2020-10-29    24.89
2020-10-30    24.23
Name: Call Duration (Mins), dtype: float64

#### 8. Average CSAT Score by Call Date.

In [58]:
calls.groupby("Call Date")["CSAT Score"].mean().round(2)

Call Date
2020-10-01    5.37
2020-10-02    5.53
2020-10-03    5.46
2020-10-04    5.59
2020-10-05    5.41
2020-10-06    5.54
2020-10-07    5.44
2020-10-08    5.47
2020-10-09    5.63
2020-10-10    5.64
2020-10-11    5.55
2020-10-12    5.74
2020-10-13    5.58
2020-10-14    5.76
2020-10-15    5.38
2020-10-16    5.64
2020-10-17    5.56
2020-10-18    5.69
2020-10-19    5.43
2020-10-20    5.61
2020-10-21    5.77
2020-10-22    5.55
2020-10-23    5.49
2020-10-24    5.50
2020-10-25    5.52
2020-10-26    5.53
2020-10-27    5.45
2020-10-28    5.55
2020-10-29    5.52
2020-10-30    5.45
Name: CSAT Score, dtype: float64